[submodule "plugins/VimCompletesMe"]
	path = plugins/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe
[submodule "plugins/vim-easymotion"]
	path = plugins/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "plugins/auto-pairs"]
	path = plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "plugins/vim-highlightedyank"]
	path = plugins/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "plugins/vim-signify"]
	path = plugins/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "plugins/vim-commentary"]
	path = plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugins/vim-repeat"]
	path = plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "plugins/vim-surround"]
	path = plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "plugins/vim-unimpaired"]
	path = plugins/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugins/indentline"]
	path = plugins/indentline
	url = https://github.com/Yggdroot/indentline
